<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Project</title>
    </head>
    <body>
        <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
    
            <!-- Back Button -->
            <a href="/" class="text-blue-500 inline-block mb-10 hover:text-blue-400">
                ← Go Back to Home
            </a>

            <!-- File Name -->
            <h1 class="text-3xl tracking-tight font-semibold">
                <%= filename %>
            </h1>

            <!-- File Content -->
            <p class="text-lg mt-4 text-zinc-300 leading-relaxed">
                <%= filedata %>
            </p>
 
        </div> 
     <script src="/javascript/script.js"></script>
    </body>
</html>