<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mini Project</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

    <body class="bg-black to-black p-6">

    <div class="w-full p-6">
        
        <h2 class="text-white text-2xl font-semibold mb-6">Login your Account</h2>

        <form class="flex flex-nowrap gap-2 items-center" action="/login" method="post">
        
        <input type="email" placeholder="email" name="email"
            class="px-4 py-2 bg-transparent text-white rounded-md border border-white/30 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">

        <input type="password" placeholder="password" name="password"
            class="px-4 py-2 bg-transparent text-white rounded-md border border-white/30 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">

        <button type="submit"
            class="px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-md transition duration-200">
            Login Account
        </button>

        </form>

    </div>

    </body>
</html>